<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Garanhuns contra Covid
      </ion-title>
        <ion-button [routerLink]="'/about'" slot="end"><ion-icon name="help"></ion-icon></ion-button>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-label>Horários de pico</ion-label>
      <ion-item>
        <ion-label>Selecione o dia</ion-label>
        <ion-select>
          <ion-select-option *ngFor="let day of listDaysPortuguese" [value]="day.id">{{day.day}}</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-content>
</ion-app>
