<ion-app>
  <ion-header>
    <ion-toolbar class="backgroundHeader">
      <ion-title color="light" class="center title">
        Garanhuns X Covid-19
      </ion-title>
      <ion-buttons slot="end" [routerLink]="'/about'">
        <ion-button>
          <ion-icon class="iconHelp" color="light" name="help"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="light">
    <ion-label>Horários de pico</ion-label>
      <ion-item>
        <ion-label>Selecione o dia</ion-label>
        <ion-select [value]="currentDay">
          <ion-select-option *ngFor="let day of listDaysPortuguese" [value]="day.id">{{day.day}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="ion-padding">
        <ion-grid>
        <ion-row *ngFor="let peak of listPeakTimes">
          <ion-col class="center">{{peak.time}}</ion-col>
          <ion-col class="center">{{peak.level}}</ion-col>
        </ion-row>
      </ion-grid>
      </div>
  </ion-content>
</ion-app>
