.iconHelp{
	font-size: 1.2rem;
	border-style: solid;
	border-radius: 40rem;
}
.title{
	margin-left: 13.5vw;
	font-size: 18px;
}
.top2{
	margin-top: 1vh;
}
.border{    
    border-color:#3c915a;;
    background-color: #5aca81;
    border-style: solid;
    border-radius: 1.2rem;
}
.cor{
	color:#173569;
	border-color:#173569;
	border-bottom-style: solid;
}
.borderLeft{
	border-color:#3c915a;
	border-left-style: solid;
}

//exemplos de cor nos níveis
.levelRed{
	margin-bottom: -0.5vh;
	margin-left: 1vh;
	color: rgb(255, 34, 34);
	//color: rgb(253, 230, 19);
	//color: rgb(29, 153, 255);
	//color: rgb(26, 252, 38);


}
.levelYellow{
	background-color: rgb(243, 202, 18);
}

.borderBottom{
	border-color:#3c915a;
	border-bottom-style: solid;
}
