.title{
    font-size: 18px;
}
.marginInfo{
    margin-left: 5vw;
    margin-right: 5vw;    
}
.align{
    text-align: justify;
    text-align: center;
    
}
.border{    
    border-color:#3361c4;
    background-color: rgb(86, 179, 255);
    border-style: solid;
    border-radius: 1.2rem;
}
.borderLeft{
	border-color:#3361c4;
	border-left-style: solid;
}
.borderBottom{
	border-color:#3361c4;
	border-bottom-style: solid;
}

.border2{    
    border-color:rgb(86, 179, 255);
    background-color: #3361c4;
    border-style: solid;
    border-radius: 1.2rem;
}
.borderLeft2{
	border-color:rgb(86, 179, 255);
	border-left-style: solid;
}
.borderBottom2{
	border-color:rgb(86, 179, 255);
	border-bottom-style: solid;
}
.marginIcon{
    margin-bottom: -0.5vh;
	margin-right: 1vh;
}
.colorIcon{
    color:#3361c4;
}
.top2{
	margin-top: 1vh;
}
.borderInfos{
    border-style: solid;
    border-radius: 1.2rem;
    border-color: #173569;
    font-size: 10px;
}

