/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.margin{    
    margin-left: 5vw;
    margin-right: 5vw;   
}
.font{
    font-family: 'Segoe UI', sans-serif;
}
.top{
    margin-top: 2vh;
}
.bottom{
    margin-bottom: 2vh;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.center{
    text-align: center;
}
.justify{
    text-align: justify;
}
.textRed{
    color:rgb(255, 87, 87);
}
.textRed2{
    color:rgb(228, 35, 35);
}
.textBlack{
    color: #3c915a;
}
.textBlue{
    color:#173569;
}
.backgroundHeader{
    --background: linear-gradient(#2e4d91, #249fe6);
}
.background{
    --background: #f4f5f8;
}
.placeholderColor{
    color: rgba(182, 182, 182, 0.877);
}
.light{
    color: #f4f5f8;
}
.white{
    color:white;
}
.red{
    background: rgb(255, 87, 87);
}
.yellow{
    background: rgb(243, 202, 18);
}
.blue{
    background: rgb(86, 179, 255);    
}
.green{
    background: rgb(95, 230, 102);
}
.iconHelp{
	font-size: 1.2rem;
	border-style: solid;
	border-radius: 40rem;
}
.textGreen{
    color:rgb(95, 230, 102);
}
.textOceanBlue{
    color: rgb(64, 35, 226);
}

