<ion-app>
  <ion-content class="background">
    <ion-item color="none" lines="none">
      <ion-icon [routerLink]="'/about'" slot="end" class="iconHelp" color="primary" name="help"></ion-icon>
    </ion-item>
    <div class="marginInfo top">
      <p class="align font textBlue" ><strong>Qual o nível de aglomeração agora no centro?</strong></p>
      <p class="center placeholderColor">Escolha um dos níveis abaixo</p>
    </div>
    <div class="margin top">
      <ion-segment [(ngModel)]="vote" [disabled]="disabledAnswer" (ionChange)="checkGPSPermission()" mode="ios">
        <ion-segment-button class="red" value=4>
          <ion-label class="white"><strong>Muita alta</strong></ion-label>
        </ion-segment-button>
        <ion-segment-button class="yellow" value=3>
          <ion-label class="white"><strong>Alta</strong></ion-label>
        </ion-segment-button>
        <ion-segment-button class="blue" value=2>
          <ion-label class="white"><strong>Normal</strong></ion-label>
        </ion-segment-button>
        <ion-segment-button class="green" value=1>
          <ion-label class="white"><strong>Baixa</strong></ion-label>
        </ion-segment-button>
      </ion-segment>
      <div class="border top">
        <ion-grid class="font">
          <ion-row>
            <ion-col class="center borderBottom">
              <ion-label class="white">
                <strong>Picos de movimentação</strong>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="left">
              <ion-label class="white">
                <strong>Atual:</strong>
              </ion-label>
            </ion-col>
            <ion-col class="right borderLeft top2" size="6">
              <ion-label [color]="average.current.color" class="white">{{average.current.msg}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="left">
              <ion-label class="white">
                <strong>Maior:</strong>
              </ion-label>
            </ion-col>
            <ion-col class="right borderLeft top2" size="6">
              <ion-label class="white">{{average.max}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="left">
              <ion-label class="white">
                <strong>Menor:</strong>
              </ion-label>
            </ion-col>
            <ion-col class="right borderLeft top2" size="6">
              <ion-label class="white">{{average.min}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <p *ngIf="dataNotCollected==false" class="align textRed">O aplicativo precisa de participação do público para gerar
        informações suficientes.
      </p>
    </div>
  </ion-content>
</ion-app>