.title{
    font-size: 18px;
}
.marginInfo{
    margin-left: 5vw;
    margin-right: 5vw;    
}
.align{
    text-align: justify;
    text-align: center;
    
}
.border{    
    border-color:#3c915a;
    background-color: #5aca81;
    border-style: solid;
    border-radius: 1.2rem;
}
.borderLeft{
	border-color:#3c915a;
	border-left-style: solid;
}
.borderBottom{
	border-color:#3c915a;
	border-bottom-style: solid;
}
.top2{
	margin-top: 1vh;
}
.redPress{
    --indicator-color: rgb(194, 72, 72);
    --background-checked: rgb(194, 72, 72);
    --background-focused: rgb(194, 72, 72);
    --background-hover: rgb(194, 72, 72);
}
.yellowPress{
    --indicator-color: rgb(207, 173, 21);
    --background-checked: rgb(207, 173, 21);
    --background-focused: rgb(207, 173, 21);
    --background-hover: rgb(207, 173, 21);
}
.bluePress{
    --indicator-color: rgb(75, 157, 224);
    --background-checked: rgb(75, 157, 224);
    --background-focused: rgb(75, 157, 224);
    --background-hover: rgb(75, 157, 224);
}
.greenPress{
    --indicator-color: rgb(83, 196, 88);
    --background-checked: rgb(83, 196, 88);
    --background-focused: rgb(83, 196, 88);
    --background-hover: rgb(83, 196, 88);
}