.title{
    font-size: 18px;
}
.marginInfo{
    margin-left: 5vw;
    margin-right: 5vw;    
}
.align{
    text-align: justify;
    text-align: center;
    
}
.border{    
    border-color:#3c915a;
    background-color: #5aca81;
    border-style: solid;
    border-radius: 1.2rem;
}
.borderLeft{
	border-color:#3c915a;
	border-left-style: solid;
}
.borderBottom{
	border-color:#3c915a;
	border-bottom-style: solid;
}
.top2{
	margin-top: 1vh;
}
