.title{
    font-size: 18px;
}
.marginInfo{
    margin-left: 5vw;
    margin-right: 5vw;    
}
.align{
    text-align: justify;
    text-align: center;
}
.border{    
    border-color:#54bf7a;
    background-color: #54bf7a;
    border-style: solid;
    border-radius: 1.2rem;
    padding: 2vh;
}
.marginText{
    text-align: left;
}
.marginText2{
    text-align: right;
}