<ion-app> 
  <ion-content color="light">
    <div class="marginInfo top">
      <p class="align font"><strong>Qual o nível de aglomeração agora no centro?</strong></p>
      <p class="center placeholderColor">Escolha um dos níveis abaixo</p> 
    </div>    
    <div class="margin top">
    <ion-segment [disabled]="disabledAnswer" (ionChange)="btnAnswerQuestion()" mode="ios">
      <ion-segment-button class="red" value=1>
        <ion-label color="light">Muita alta</ion-label>
      </ion-segment-button>
      <ion-segment-button class="yellow" value=2>
        <ion-label color="light">Alta</ion-label>
      </ion-segment-button>
      <ion-segment-button class="blue" value=3>
        <ion-label color="light">Normal</ion-label>
      </ion-segment-button>
      <ion-segment-button class="blue2" value=4>
        <ion-label color="light">Baixa</ion-label>
      </ion-segment-button>
    </ion-segment>
      <div class="border top">
        <ion-grid class="font">
          <ion-row>
            <ion-col class="center borderBottom">
              <ion-label color="light">
                <strong>Picos de movimentação</strong>
              </ion-label>
            </ion-col>            
          </ion-row>
          <ion-row>
            <ion-col class="left">
              <ion-label color="light">
                <strong>Atual:</strong>
              </ion-label>
            </ion-col>
            <ion-col class="right borderLeft top2" size="6">
              <ion-label color="light">Alto</ion-label>       
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="left">
              <ion-label color="light">
                <strong>Maior:</strong>
              </ion-label>
            </ion-col>
            <ion-col class="right borderLeft top2" size="6">
              <ion-label color="light">8:00 às 10:00</ion-label>      
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="left">
              <ion-label color="light">
                <strong>Menor:</strong>
              </ion-label>
            </ion-col>
            <ion-col class="right borderLeft top2" size="6">
              <ion-label color="light">12:00 às 14:00</ion-label>             
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  </div> 
  </ion-content>
</ion-app>