.marginText{
    text-align: left;
    font-size: large;
}
.marginText2{
    text-align: center;
    font-size: small;
}
.itemColor{
    --background: #54bf7a
}
.logo{
    margin: auto;
    margin-top: -4rem;
    width: 200px;
    height: 200px;
}

