<ion-app>
  <ion-content color="light">
    <div class="margin">
      <p><strong>Tomando como base a LEI 12.965/2014, que como ementa: &ldquo;ESTABELECE PRINC&Iacute;PIOS, GARANTIAS, DIREITOS E DEVERES PARA O USO DA INTERNET NO BRASIL&rdquo;, definimos os termos de uso e pol&iacute;tica de privacidade do aplicativo mobile Garanhuns X Covid-19.</strong></p>
<p>&nbsp;</p>
<p><strong>1 - Sobre os dados do usu&aacute;rio:</strong></p>
<p><strong>Quais dados seus utilizamos?</strong></p>
<p><span style="font-weight: 400;">Para cadastrar voc&ecirc; em nosso sistema, geramos um </span><strong>UUID</strong><span style="font-weight: 400;"> (Identificador &Uacute;nico Universal) do seu smartphone. Utilizamos o </span><strong>resultado de sua resposta sobre a movimenta&ccedil;&atilde;o/aglomera&ccedil;&atilde;o</strong><span style="font-weight: 400;"> no centro de Garanhuns e sua localiza&ccedil;&atilde;o atual </span><strong>(latitude e longitude)</strong><span style="font-weight: 400;">, para que as respostas n&atilde;o venham de lugares muito distantes de um raio de 5 quil&ocirc;metros, tomando como refer&ecirc;ncia o centro da cidade de Garanhuns.</span></p>
<p>&nbsp;</p>
<p><strong>Onde armazenamos esses dados?</strong></p>
<p><span style="font-weight: 400;">Armazenamos em nossa base de dados, segura e planejada para gerenciar o sistema efetivamente.</span></p>
<p><span style="font-weight: 400;">&nbsp;</span></p>
<p><strong>O que fazemos com os dados?</strong></p>
<p><span style="font-weight: 400;">Usamos os dados das respostas do aplicativo para extrair 3 informa&ccedil;&otilde;es e apresent&aacute;-las a voc&ecirc;:</span></p>
<ol>
<li style="font-weight: 400;"><span style="font-weight: 400;">Saber o n&iacute;vel de movimento/aglomera&ccedil;&atilde;o atual no centro de Garanhuns - da hora antecedente at&eacute; a hora que o usu&aacute;rio entra no aplicativo;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Saber qual o atual, maior e menores hor&aacute;rios de movimenta&ccedil;&atilde;o/aglomera&ccedil;&atilde;o no dia;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Saber quais os n&iacute;veis de aglomera&ccedil;&atilde;o durante a semana (menos o domingo), especificamente, das 06:00 da manh&atilde; &agrave;s 18:00 da tarde.</span></li>
</ol>
<p>&nbsp;</p>
<p><strong>Para que extra&iacute;mos essas informa&ccedil;&otilde;es?</strong></p>
<p><span style="font-weight: 400;">Visamos engajar o usu&aacute;rio a contribuir com a seguran&ccedil;a da cidade, dando-lhes a possibilidade de informar sua opini&atilde;o sobre a movimenta&ccedil;&atilde;o/aglomera&ccedil;&atilde;o, saber como est&aacute; o fluxo de pessoas e saber quais os hor&aacute;rios mais seguros para ir ao centro da cidade, visando combater a pandemia do coronav&iacute;rus (Covid-19).</span> <span style="font-weight: 400;"><br /><br /></span></p>
<p><span style="font-weight: 400;"><br /></span><strong>2 - Do acesso ao aplicativo:</strong></p>
<p>&nbsp;</p>
<p><span style="font-weight: 400;">O acesso ao Aplicativo Garanhuns x Covid-19 ser&aacute; realizado mediante download do Aplicativo e o tipo de cadastro do usu&aacute;rio &eacute; feito pelo id (</span><strong>UUID</strong><span style="font-weight: 400;">) do smartphone;&nbsp;</span></p>
<p><span style="font-weight: 400;">Para acessar o Aplicativo, o Usu&aacute;rio deve, primeiramente, realizar o download na loja do seu dispositivo Android, Google Play Store. Ap&oacute;s o download, o usu&aacute;rio deve abrir o Aplicativo e iniciar&nbsp; para obter acesso.</span></p>
<p>&nbsp;</p>
<p><strong>Aplicativo Garanhuns x Covid-19:</strong><span style="font-weight: 400;"> software gratuito, utilizado para disponibiliza&ccedil;&atilde;o de servi&ccedil;os contra o covid-19, oferecidos pelos Estudantes de Engenharia de Software, Universidade de Pernambuco - Campus Garanhuns, a ser instalado em dispositivos m&oacute;veis com o sistema operacional Android.</span></p>
<p>&nbsp;</p>
<p><strong>Usu&aacute;rio:</strong><span style="font-weight: 400;"> pessoa f&iacute;sica que realizou o download do aplicativo na Google Play Store, atrav&eacute;s de seu smartphone, e autoriza a utiliza&ccedil;&atilde;o da localiza&ccedil;&atilde;o do seu aparelho, para ser poss&iacute;vel a utiliza&ccedil;&atilde;o do App Garanhuns x Covid-19.</span></p>
<p>&nbsp;</p>
<p><strong>3 - Direitos autorais:</strong></p>
<p><strong>Aplicativo: </strong><a href="https://github.com/Rebase-team/Guns-x-Covid/blob/master/LICENSE"><strong>https://github.com/Rebase-team/Guns-x-Covid/blob/master/LICENSE</strong></a></p>
<p><strong>Web Service: </strong><a href="https://github.com/Rebase-team/Covid-API/blob/master/LICENSE"><strong>https://github.com/Rebase-team/Covid-API/blob/master/LICENSE</strong></a></p>
    </div>
  </ion-content>
</ion-app>