<ion-app>
  <ion-content class="ion-padding">
    <p><strong>Tomando como base a LEI 12.965/2014, que como ementa: “ESTABELECE PRINCÍPIOS, GARANTIAS, DIREITOS E DEVERES PARA O USO DA INTERNET NO BRASIL”, definimos os termos de uso e política de privacidade do aplicativo Garanhuns contra Covid.</strong>

      1 - Sobre os dados do usuário:
      Quais dados seus utilizamos?
      Utilizamos o resultado de sua resposta sobre a movimentação/aglomeração no centro de Garanhuns, sua localização atual (latitude e longitude), para que as respostas não venham de lugares muiTermos de uso e política de privacidade
      to distantes de um raio de 5 quilômetros, tomando como referência o centro da cidade de Garanhuns e geramos um código de identificação para que você tenha acesso ao nosso sistema.
      
      Onde armazenamos esses dados?
        Armazenamos em nossa base de dados, segura e planejada para gerenciar o sistema efetivamente.
      
      O que fazemos com os dados?
        Usamos os dados das respostas do aplicativo para extrair 3 informações e apresentá-las a você:
      Saber o nível de movimento/aglomeração atual no centro de Garanhuns - da hora antecedente até a hora que o usuário entra no aplicativo;
      Saber qual o atual, maior e menores horários de movimentação/aglomeração no dia;
      Saber quais os níveis de aglomeração durante a semana (menos o domingo), especificamente, das 06:00 da manhã às 18:00 da tarde.
      
      Para que extraímos essas informações?
        Visamos engajar o usuário a contribuir com a segurança da cidade, dando-lhes a possibilidade de informar sua opinião sobre a movimentação/aglomeração, saber como está o fluxo de pessoas e saber quais os horários mais seguros para ir ao centro da cidade, visando combater a pandemia do coronavírus (Covid-19).	
  
      
      
      2 - Do acesso ao aplicativo:
      O acesso ao Aplicativo Garanhuns x Covid-19 será realizado mediante download do Aplicativo e não necessita de cadastro do usuário; 
      Para acessar o Aplicativo, o Usuário deve, primeiramente, realizar o download na loja do seu dispositivo Android, Google Play Store. Após o download, o usuário deve abrir o Aplicativo e iniciar  para obter acesso.
      
      Aplicativo Garanhuns x Covid-19: software gratuito, utilizado para disponibilização de serviços contra o covid-19, oferecidos pelos Estudantes de engenharia de Software, Universidade de Pernambuco - Campus Garanhuns, a ser instalado em dispositivos móveis com o sistema operacional Android.
      
      Usuário: pessoa física que realizou o download do aplicativo na Google Play Store, através de seu smartphone.
      
      3 - Direitos autorais:

      <ion-label color="primary" href="https://github.com/Rebase-team/Guns-x-Covid/blob/master/LICENSE">Clique aqui para acessar a licença.</ion-label>
    </p>
  </ion-content>
</ion-app>